<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title >Invitation!</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="shortcut icon" th:href="@{|${baseUrl}/favicon.ico|}" />
    </head>
    <body>
        <p th:text="#{email.reset.greeting(${user.login})}">
            Dear
        </p>
        <p th:text="#{email.new.task}">
            You have been assigned a new task. For more details please log into CID.
        </p>
        <p>
            <a th:with="url=(@{|${baseUrl}/login|})" th:href="${url}"
            th:text="${url}">Login link</a>
        </p>
        <p>
            <span th:text="#{email.reset.text2}">Regards, </span>
            <br/>
            <em th:text="#{email.signature}">Streeam.</em>
        </p>
    </body>
</html>
